{% extends "base.html" %}
{% block title %}{{ ticker }}{% endblock %}
{% block content %}
<div class="container text-left">
    <h1>{{ ticker_info.shortName }} ({{ ticker|upper }})</h1>
    
    {% for day_close in raw_30_days_adjclose %}
        <p>{{day_close}}</p>
    {% endfor %}

    <!-- {{prediction}} -->
    <!-- then put the above 30 days adj_close + 1 day pred to graph -->

    <h3>Raw 30 Data from yfinance for prediction:</h3>
    {{ ticker_30_days_data_html|safe }}
    <h3>Model prediction for {{ ticker }}</h3>
    <p>Model trained only on {{ ticker }} {{ model_prediction_single_stock }}</p>
</br>
    <p>Model trained on all tickers: {{ model_prediction_multiple_stock }}</p>
</br>
    <h3>Company Description:</h3>
    <p>{{ticker_info.longBusinessSummary}}</p>
    <script src="" async defer></script>
</div>
{% endblock %}